a, a:link, a:visited {
  text-decoration: none;
}

ul.navbar-nav {
  margin-left: auto;
  margin-right: 3%;
}


body > .radiusnone {
  border-radius: 0px;
}

.input-group-append {
  height: 34px;
  border-radius: 0px;
}

li.list-group-item.left-delete {
  line-height: 30px;
}
